<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="2">

    <!--
    <test name="TestNG Test Group">
       
        <packages>
        <package name="org.movoto.selenium.example"/>
        </packages>
    </test>
    -->
	
	   <suite-files>
               <suite-file path="suite1.xml" />
               <suite-file path="suite2.xml" />
               <suite-file path="suite3.xml" />

        </suite-files>
	
	
</suite>